@media (max-width: 790px) {
  .hidden {
    display: none;
  }
  .top-wrapper {
    padding-bottom: 10px;
  }
  .content-wrapper {
    padding-top: 10px;
  }
  .content-item {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 15px;
  }
  .content-text {
    text-align: center;
  }
  .content-item img {
    width: 50%;
    margin: auto;
  }
  p span {
    padding-left: 0px;
    display: inline-block;
    text-align: left;
  }
}



@media (max-width: 760px) {
  .content {
    width: 100%;
  }
  footer p {
    float: none;
    text-align: center;
    width: 100%;
  }

        .column {
          
          width: 100%;
          display: block;
      }
      .card button{
          font-size: larger;
      }
      .email {
        display: block;
        padding: 20px 0;
        margin: 0 auto;
        font-size: 20px;
        text-align: center;
      }
  
  .footer img {
    display: block;
    float: none;
    margin: 0px auto;
    /* text-align: center; */
    width: 100%;
  }
}
