@media (max-width: 790px) {
  .top-wrapper{
    padding-bottom: 10px;
  }
  .content-wrapper{
    padding-top: 10px;
  }
  .content-item{
    display: flex;
    flex-direction: column-reverse;
    padding-top: 15px;
  }
  .content-text{
    text-align: center;
  }
  .content-item img{
    width: 50%;
    margin: auto;
  }
  p span {
    padding-left: 0px;
    display: inline-block;
    text-align: left;
  }
  .content-text ul{
    text-align: left;
    padding-left: 10%;
    padding-top: 15px;
  }
  .message-wrapper h2{
    font-size: 65px;
    padding-top: 210px;
  }
  .message-wrapper h3 {
    font-size: 51px;
    word-spacing: 5px;
  }
  footer p {
    float: none;
    text-align: center;
    width: 100%;
  }

  .footer img {
    display: block;
    float: none;
    margin: 0px auto;
    /* text-align: center; */
    width: 100%;
  }
}
