/* Global css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #eff;
}
.clear-fix {
  clear: both;
}

/* Css untuk header dari sini */
    header{
        position: fixed;
        top: 0;
        height: 60px;
        width: 100%;
        background-color: rgba(0,0,0,.8);
        color: white;					
        box-shadow: 0 2px 4px 7px rgba(0,0,0,.05);
        z-index: 10;
    }
    .black{
        background-color: #000;
    }
    .logo-wrapper{
        float: left;
        padding-top: 20px;
        padding-left: 10px;
    }
    header .logo{
        width: 15px;
    }
    .logo-wrapper div{
        display: inline-block;
    }
    .header span{
        position: relative;
        top: 20px;
    }
    header .header-menu{
        float: right;
    }
    header ul{
        display: flex;
        /* position: relative; */
        list-style-type: none;
        padding-top: 15px;
        padding-right: 10px;
    }
    header li{
        padding-right: 5px;
        /* float: left; */
        /* display: flex; */
        font-size: 20px;
    }
    li a{
        color: white;
        text-decoration: none;

    }
    header li:first-child{
        border-right: 1px solid rgba(80,80,80,.8);
        height: 20px;
        margin-right: 10px;
        padding-right: 10px;
    }
    .menu-icon{
        float: right;
        padding-top: 15px;
        padding-right: 10px;
        cursor: pointer;
    }
    .fa-bars::before{
        font-size: 25px;
        display: none;
    }
/* Css untuk header selesai */

/* CSS untuk main body */

main {
  background-color: white;
}
.message-wrapper,
.pembuka {
  text-align: center;
}
.message-wrapper {
  background-image: url("../images/covid1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #ddd;
  animation: fade 1s forwards;
}
.message-wrapper h2 {
  opacity: 0.6;
  font-size: 70px;
  letter-spacing: 10px;
  padding-top: 20vmax;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}
.message-wrapper h3 {
  opacity: 0.6;
  font-size: 50px;
  margin-top: 10px;
  letter-spacing: 3px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}
.top-wrapper {
  text-align: center;
}
.top-wrapper h3 {
  font-size: 26px;
}
.content {
  padding: 40px;
  width: 100%;
}
.content p {
  padding-top: 10px;
  line-height: 20px;
}

.content-text {
  padding: 20px;
  text-align: justify;
}

.content-item .content-text li {
  margin-left: 25px;
}

.content-text h4 {
  font-size: 30px;
}

.content-item {
  display: flex;
  max-width: 100%;
  padding-top: 10px;
}
.reverse {
  flex-direction: row-reverse;
}

.content-item img {
  border-radius: 3px;
  margin: 20px;
  width: 25%;
  box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.5);
}
/* CSS main selesai */

/* css untuk about us */
  .column {
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
    padding: 0 8px;
    
  }
  .team-wrapper{
    background-color: #555;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .card {
    width: 75%;
    background-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(136, 4, 4, 0.432);
    margin: 0 auto;
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-radius: 20px;
    overflow: hidden;
    /* animation: glow 2s alternate; */
  }
  
  #about-section {
    padding: 50px;
    text-align: center;
    background-color: black;
    color: white;
  }
  
  .container {
    padding: 0 40px;
  }
  
  .container::after,
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    margin: 10px;
    color: grey;
    text-align: center;
  }
  
  .button {
    margin-top: 20px;
    font-size: large;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  .card h2 {
    text-align: center;
  }
  
  .justify {
    margin-top: 10px;
    letter-spacing: 0.5px;
    width: 100%;
    text-align: justify;
  }
  
  .email {
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }
/* selesai */

/* untuk footer */
footer {
  color: white;
  display: block;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  background-color: black;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}
footer img {
  float: left;
}
footer p {
  float: right;
  width: 10%;
  text-align: left;
  padding-right: 20px;
  line-height: 20px;
}
footer h3 {
  text-align: center;
  font-style: italic;
  font-size: 15px;
  opacity: 0.7;
}
footer div.clear {
  clear: both;
}
p span.ubah {
  padding-left: 20px;
  display: inline-block;
}

@keyframes fade{
  0%{
    /* height: 15px;
    width: 15px;
    overflow: hidden; */
    opacity: 0;
  }
  100%{
    width: 100%;
    opacity: 1;
  }
}
