/* Global css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #eff;
}
.clear-fix{clear: both;}

/* Css untuk header dari sini */
    header{
        position: fixed;
        top: 0;
        height: 60px;
        width: 100%;
        background-color: rgba(0,0,0,.8);
        color: white;					
        /* padding: 15px; */
        /* box-shadow: 0 2px 4px 7px rgba(0,0,0,.05); */
        z-index: 10;
    }
    .logo-wrapper{
        float: left;
        padding-top: 20px;
        padding-left: 10px;
    }
    header .logo{
        width: 15px;
    }
    .logo-wrapper div{
        display: inline-block;
    }
    .header span{
        position: relative;
        top: 20px;
    }
    header .header-menu{
        float: right;
    }
    header ul{
<<<<<<< HEAD
        position: relative;
=======
        /* position: relative; */
>>>>>>> bdbceb6e7f2b766145535e26ced7faaba7d4c34f
        list-style-type: none;
        padding-top: 15px;
        padding-right: 10px;
    }
    header li{
        padding-right: 5px;
        float: left;
<<<<<<< HEAD
=======
        font-size: 20px;
>>>>>>> bdbceb6e7f2b766145535e26ced7faaba7d4c34f
    }
    li a{
        color: white;
        text-decoration: none;

    }
    header li:first-child{
        border-right: 1px solid rgba(80,80,80,.8);
        height: 20px;
        margin-right: 10px;
        padding-right: 10px;
    }
<<<<<<< HEAD
    .fa{
        position: absolute;
        top: 10px;
        right: 15px;
        cursor: pointer;
    }
=======
    .menu-icon{
        float: right;
        padding-top: 15px;
        padding-right: 10px;
        cursor: pointer;
    }
    .fa-bars::before{
        color: white;
        /* float: right; */
        font-size: 25px;
        /* padding: 21px 10px; */
    /* Gantikan property display ke none */
        display: none;
    }
>>>>>>> bdbceb6e7f2b766145535e26ced7faaba7d4c34f
/* Css untuk header selesai */


/* CSS untuk main body */

    main{
        /* width: 100%; */
        background-color: white;
    }
    .message-wrapper, .pembuka{
        text-align: center;
    }
    .message-wrapper{
        background-image: url('../images/monas.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        color: #ddd;
    }
    .message-wrapper h2{
        opacity: .6;
        font-size: 70px;
        letter-spacing: 5px;
        padding-top: 20vmax;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
    }
    .message-wrapper h3{
        opacity: .6;
        font-size: 50px;
        margin-top: 10px;
        letter-spacing: 3px;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
    }
    .top-wrapper{
        text-align: center;
    }
    .top-wrapper h3{
        font-size: 26px;
    }
    .content{
        padding: 40px;
        width: 100%;
    }
    .content p{
        padding-top: 10px;
        line-height: 20px;
    }
    .content-text {
        padding: 20px;
        text-align: justify;
    }
<<<<<<< HEAD
<<<<<<< HEAD

    .content-item .content-text li {
        margin-left: 25px;
=======
    .content-text h4{
        font-size: 20px;
>>>>>>> ce1ef48b3bde497fc89e18f72a9a00137afa1c8a
=======
    .content-text h4{
        font-size: 20px;
>>>>>>> bdbceb6e7f2b766145535e26ced7faaba7d4c34f
    }
    
    .content-item{
        display: flex;
        max-width: 100%;
        padding-top: 10px;
    }
    .reverse{
        flex-direction: row-reverse;
    }
    
    .content-item img{
        border-radius: 3px;
        margin: 20px;
        width: 25%;
        box-shadow: 1px 1px 7px 3px rgba(0,0,0,.5);
    }
/* CSS main selesai */

/* css untuk about us */
.column {
    display: block;
    margin: 0 auto 16px auto;
    width: 100%;
    padding: 0 8px;
  }
  
  .card {
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-radius: 30px;
    overflow: hidden;
  }
  
  #about-section {
    margin: 30px 0;
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    margin: 10px;
    color: grey;
    text-align: center;
  }
  
  .button {
    font-size: large;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #555;
  }

  .card h2 {
      text-align: center;
  }

  .justify {
      margin-top: 10px;
      letter-spacing: 0.5px;
      width: 100%;
      text-align: justify;
  }

  .email {
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }

/* @media all and (max-width:1000px) {

    .column {
        
        width: 100%;
        display: block;
    }

    .card button{
        font-size: larger;
    }

}

@media all and (max-width:670px) {
    .column {

      width: 100%;
      display: block;
    }
    .card button {
        font-size: larger;
    }
} */ 
/* selesai */

/* untuk footer */
footer {
  color: white;
  display: block;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  background-color: black;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}
footer img {
  float: left;
}
footer p {
  float: right;
  width: 10%;
  text-align: left;
  padding-right: 20px;
  line-height: 20px;
}
footer h3 {
  text-align: center;
  font-style: italic;
  font-size: 15px;
  opacity: 0.7;
}
footer div.clear {
  clear: both;
}
p span.ubah {
  padding-left: 20px;
  display: inline-block;
}

